[user]
	name = {{ .name | quote }}
	email = {{ .email | quote }}
	signingkey = ~/.ssh/id_ed25519_github.pub
[init]
	defaultBranch = main
[pull]
	rebase = true
[fetch]
	prune = true
[push]
	autoSetupRemote = true
	default = current
[rebase]
	autoStash = true
[merge]
	conflictStyle = zdiff3
[diff]
	colorMoved = default
	algorithm = histogram
[column]
	ui = auto
[branch]
	sort = -committerdate
[core]
	editor = nvim
	pager = delta
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
[alias]
	st = status -sb
	co = checkout
	br = branch
	ci = commit
	cm = commit -m
	amend = commit --amend --no-edit
	lg = log --oneline --graph --decorate --all
	last = log -1 HEAD
	unstage = reset HEAD --
	undo = reset --soft HEAD~1
	dc = diff --cached
